<div id = "boxes" >

        <a href="/course/add" id = "box1"> Add Class</a>
        <a href="/course/all" id = "box2">All Classes</a>
        <a href="/schedule/generate" id = "box3"> Generate Schedule</a>
        <a href="/schedule/all " id ="box4"> All Schedules</a>
</div>

<p> 
    Schoolie is a random schedule generator that will keep the grunt work of creating all of the possibel schedules from a set of classes you are interseted to take. Users can register, log in,  input many different classes and Schoolie will create differnt schedules for users to choose from, one at a time. This website will only generate schedules that do not have time conflicts. Users will recieve many schedules for them to compare and favorite the best ones. Students will have a better time deciding on their schedule when they visually see all of their choices. Hopefully this will take the stress out of creating the new semester schedule each year. 
</p>