<div id="loginform">
<h2>Login</h2>
<form action = "/login" method = "POST">
	
    <div class= "fields">
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>

	<div class= "fields">
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	</div>

	<div><input type="submit" value="Login" class = "btn btn-primary"></div>

</form>

<a href="/register">Register</a>
</div3>