
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<div id="registerform">
<h2>Register A User</h2>
<form action = "/register" method = "POST">
    <div class= "fields">
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>

	<div class= "fields">
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	</div>

	<div><input type="submit" class ="btn btn-primary" value="Register"></div>

</form>


<a href= "/login">Login</a>
</div>